<launch>
  <arg name="stage" default="4"/>
  <param name="stage_number"  value="$(arg stage)"/>
  <node pkg="project" type="ddpg_stage_1.py" name="ddpg_stage_1" output="screen" />
  <node pkg="project" type="combination_obstacle_1.py" name="combination_obstacle_1" output="screen" />
  <node pkg="project" type="combination_obstacle_2.py" name="combination_obstacle_2" output="screen" />
</launch>

